<section class="testimonial-sec section-padding">
    <div class="container">
        <div class="testimonial-parents">
            <div class="testimonial-holders">
                <span class="badge-text">Client Feedback</span>
                <h2 class="fs-60">Satisfied Clients</h2>

                <div class="sliderheree">
                    <div class="swiper mySwipertestimonial">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 -->
                            <div class="swiper-slide">
                                <div class="only-reviewdata">
                                    <div class="rating-image">
                                        <img
                                            src="/rating.png"
                                            alt="Rating"
                                            loading="lazy"
                                            width="100"
                                            height="20"
                                            decoding="async"
                                        />
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing elit. Ipsum
                                            beatae necessitatibus consectetur
                                            voluptas ut adipisci quae assumenda
                                            quas laborum officiis tempore
                                            blanditiis velit quidem iure dicta
                                            maiores, nulla illo animi deleniti
                                            nesciunt fuga enim perferendis
                                            culpa. Reprehenderit at velit
                                            pariatur assumenda! Iusto maiores
                                            blanditiis culpa.
                                        </p>
                                    </div>
                                    <h6 class="fs-30">-Taylor S</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="only-reviewdata">
                                    <div class="rating-image">
                                        <img
                                            src="/rating.png"
                                            alt="Rating"
                                            loading="lazy"
                                            width="100"
                                            height="20"
                                            decoding="async"
                                        />
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing elit. Ipsum
                                            beatae necessitatibus consectetur
                                            voluptas ut adipisci quae assumenda
                                            quas laborum officiis tempore
                                            blanditiis velit quidem iure dicta
                                            maiores, nulla illo animi deleniti
                                            nesciunt fuga enim perferendis
                                            culpa. Reprehenderit at velit
                                            pariatur assumenda! Iusto maiores
                                            blanditiis culpa.
                                        </p>
                                    </div>
                                    <h6 class="fs-30">-Taylor S</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="only-reviewdata">
                                    <div class="rating-image">
                                        <img
                                            src="/rating.png"
                                            alt="Rating"
                                            loading="lazy"
                                            width="100"
                                            height="20"
                                            decoding="async"
                                        />
                                    </div>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing elit. Ipsum
                                            beatae necessitatibus consectetur
                                            voluptas ut adipisci quae assumenda
                                            quas laborum officiis tempore
                                            blanditiis velit quidem iure dicta
                                            maiores, nulla illo animi deleniti
                                            nesciunt fuga enim perferendis
                                            culpa. Reprehenderit at velit
                                            pariatur assumenda! Iusto maiores
                                            blanditiis culpa.
                                        </p>
                                    </div>
                                    <h6 class="fs-30">-Taylor S</h6>
                                </div>
                            </div>
                        </div>
                        <div class="custom-btns">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quote Background Icon -->
            <div class="quote-icon">
                <img
                    src="/quote.png"
                    alt="quote icon"
                    width="673"
                    height="239"
                    loading="lazy"
                    decoding="async"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .testimonial-holders {
        max-width: 60%;
        width: 100%;
    }

    .testimonial-parents {
        position: relative;
        z-index: 1;
    }

    .quote-icon {
        max-width: 673px;
        width: 100%;
        position: absolute;
        top: 97px;
        right: 11%;
        pointer-events: none;
    }

    .testimonial-holders .fs-30.taglines {
        font-weight: 400;
    }
    .sliderheree {
        padding-top: 30px;
    }

    .custom-btns .swiper-button-next,
    .custom-btns .swiper-button-prev {
        position: static;
        height: 50px;
        width: 50px;
    }

    .custom-btns .swiper-button-next:after,
    .custom-btns .swiper-button-prev:after {
        background: var(--color-blue);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        color: var(--color-white);
    }
    .custom-btns {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 100px;
        margin-top: 50px;
    }

    @media (max-width: 1400px) {
        .quote-icon {
            max-width: 400px;
        }
        .custom-btns .swiper-button-next,
        .custom-btns .swiper-button-prev {
            position: static;
            height: 40px;
            width: 40px;
        }
    }
    @media (max-width: 991px) {
        .quote-icon {
            display: none;
        }
        .testimonial-holders {
            max-width: 100%;
        }
        .custom-btns {
            margin-top: 45px;
        }
        .custom-btns .swiper-button-next,
        .custom-btns .swiper-button-prev {
            position: static;
            height: 35px;
            width: 35px;
        }
        .custom-btns {
            gap: 45px;
        }
    }
</style>

<script is:inline>
    function initTestimonialSwiper() {
        if (typeof Swiper !== "undefined") {
            const runner = () => {
                new Swiper(".mySwipertestimonial", {
                    autoplay: { delay: 4000, disableOnInteraction: false },
                    speed: 1500,
                    loop: true,
                    grabCursor: true,
                    // performance improvements
                    watchSlidesProgress: true,
                    preloadImages: false,
                    lazy: true,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            };

            // Use requestIdleCallback if available for best speed
            if (window.requestIdleCallback) {
                requestIdleCallback(runner);
            } else {
                setTimeout(runner, 1);
            }
        } else {
            // If Swiper isn't ready yet, check again soon
            setTimeout(initTestimonialSwiper, 100);
        }
    }

    document.addEventListener("DOMContentLoaded", initTestimonialSwiper);
    document.addEventListener("astro:page-load", initTestimonialSwiper);
</script>
